#introVideo {
    min-width: 100%;
    position: absolute;
}

div.description {
    color: #777777;
}
.avatar > img {
    height: 104px;
}

@media screen and (max-aspect-ratio: 1920/1080) {
    #introVideo {
        left: -100%;
    }
}
